{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our college</h1>
    <p>
R. A. I. T ranked 11th position in Engineering Institute ranking 2019 done by Times of India

Engineers today have propelled the world to a new era of technological advancement. Blending curiosity with scientific temperament is the need of the hour as the world faces a new set of challenges. Nurturing this spirit for over a 30 years stands RAIT (Ramrao Adik Institue of Technology), a prodigy of Ramrao Adik Education Society. The institute is one of the oldest and finest colleges of Navi Mumbai. Located in the lush green campus of Dr. D. Y. Patil Vidyapeeth Campus, RAIT provides state-of art amenities, which combined with the experienced teachers and amicable environment ensure an all round development of students. Its proximity to the Mumbai – Pune Express Highway makes it easily accessible. The institution also organizes various student centric activities which provide students with umpteen number of learning opportunities.

The college offers a plethora of courses including Electronics, Computer, Instrumentation, Information Technology and Electronics and Telecommunication. The institute is affiliated to the Mumbai University. It is recognized by All India Council For Technical Education and by National Board of Accreditation, paving way for a promising future.

Like most successfully managed institutions, RAIT also believes in following the principles of democratic governance. Various committees are set up to ensure the smooth functioning of the institute. Regular and periodic meetings are held among the committees which involve the management, faculty and staff to address essential issues and to ensure proper coordination among the various departments, committee conveners and administrative staff.

An institution progresses when its mainstay, the student community prospers. This can be seen in the various steps taken by the college to ensure a contented student force in its campus. Counsellors are appointed to counsel the students and redress their grievances if any.

The college also has a full fledged Redressal committee to address the grievances of faculty and students.

An institution grows only when it makes appropriate changes from time to time. Such a change is possible only if there is a feedback system. The institution follows an efficient system of collecting feedback about faculty performance from the students. The faculty appraisals are collected and reviewed periodically by Quality Assurance Team of RAIT.

The performers amongst students and university rank holders are rewarded with scholarships and tution fees waivers. The performing faculty also receives recognition from management for their academic performance.</p>
{% endblock %}
</div>
